* {
  box-sizing: border-box;

}

body {
  text-align: center;
  font-family: carbli;

}

#sec1 {
	background-color: gray;
	width: 32%;
	height: 120px;
	padding-top: 4px;

}

#sec2 {
	width: 32%;
}

#sec3, #sec4 {
	width: 16%;
	float: left;
	margin: 4px;
}

#sec5, #sec6 {
  background-color: gray;
  position: relative;
  width: 16%;
  float: left;
  margin: 4px;
  text-align: justify;

}

#h1, #h2, #h3, #h4 {
	
	background-color: green;
	border: 0px solid black;
    width: 120px;
    height: 30px;
    color: white;
    float: left;
    margin: 2px;
    padding-top: 5px;
}

h2, h4 {
  color: white;
}

#p1 {
  background-color: blue;
  width: 150px;
  height: 30px;
  float: right;
  position: sticky;
  text-align: center;

}

#p2 {
  background-color:green;
  width: 150px;
  height: 30px;
  float: right;
  position: sticky;
  text-align: center;
 
}
