* {
  box-sizing: border-box;
  
}

body {
  text-align: center;
  font-family: carbli;


}

#sec1 {
	background-color: gray;
	width: 32%;
	height: 120px;
	padding-top: 4px;
    border: 1px solid black;
    border-radius: .5em;
}

#h1, #h2, #h3, #h4 {
	
	background-color: green;
	border: 1px solid black;
    width: 120px;
    height: 30px;
    color: white;
    float: left;
    margin: 2px;
    padding-top: 5px;
    border-radius: .5em;
}

#sec2 {
	width: 32%;
	border: 1px solid black;
	border-radius: .5em;
}

#sec3, #sec4 {
	width: 16%;
	margin: 4px;
	border: 1px solid black;
	border-radius: .5em;
	float: center;
	clear: right;
	display: inline-block;

}

#sec5, #sec6 {
  background-color: gray;
  width: 16%;
  margin: 4px;
  text-align: justify;
  border: 1px solid black;
  border-radius: .5em;
  float: center;
  display: inline-block;

}

h2, h4 {
  color: white;
}

#p1 {
  background-color: blue;
  width: 150px;
  height: 30px;
  float: right;
  text-align: center;
  border-radius: .5em;
  padding-top: 0px;

}

#p2 {
  background-color:green;
  width: 150px;
  height: 30px;
  float: right;
  text-align: center;
  border-radius: .5em;
  padding-top: 0px;
 
}
