* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 0px;
}

body {
  text-align: center;
  font-family: carbli;

}

div {
  position: relative;
}

#sec1 {
	background-color: gray;
	width: 33.33%;
	height: 120px;
	padding-top: 25px;
    border: 1px solid black;
    border-radius: .5em;
    padding-left: 10px;

}

#h1, #h2, #h3, #h4 {
	
	background-color: green;
	border: 1px solid black;
    width: 120px;
    height: 30px;
    color: white;
    float: left;
    margin: 2px;
    padding-top: 5px;
    border-radius: .5em;

}

/*p {
	padding-bottom: 0px;
}*/

#sec2 {
	width: 33.33%;
	border: 1px solid black;
	border-radius: .5em;

}

#sec3, #sec4 {
	width: 16.5%;
	margin: 4px;
	border: 1px solid black;
	border-radius: .5em;
	float: center;
	display: inline-block;
	
}

#sec5, #sec6 {
  background-color: gray;
  width: 16.5%;
  margin: 4px;
  text-align: justify;
  border: 1px solid black;
  border-radius: .5em;
  float: center;
  display: inline-block;


}

h2, h4 {
  color: white;
  /*padding-top: 10px;*/
}

#p1 {
  background-color: blue;
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: .5em;
  float: right; 
  padding-top: 0;

}

#p2 {
  background-color:green;
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: .5em;
  float: right;  
  padding-top: 0;
   
}

/* DeskTop - Large devices only :: 992px and above*/
@media (min-width: 992px) {
   #sec1 {
    width: 33.33%;
   }
   #sec2 {
   	width: 33.33%;
   }
   #sec3 {
   	width: 16.5%;
   }
   #sec4 {
   	width: 16.5%;
   }
   #sec5 {
   	width: 16.5%;
   }
   #sec6 {
   	width: 16.5%;
   }
 }
/* Tablet - iPad- Medium devices only :: 768px and 991 px*/
@media (max-width: 1366px) {

   #sec1 {
    width: 100%;
   }
   #sec2 {
   	width: 100%;
   	overflow:hidden;
   }
   #sec3 {
   	width: 47%;
   	overflow:hidden;
   }
   #sec4 {
   	width: 47%;
   	overflow:hidden;
   }
   #sec5 {
   	width: 47%;
   }
   #sec6 {
   	width: 47%;
   }
   /*.image-me {
   	width: %;
   }*/

   #h1, #h2, #h3, #h4 {
   	width: 23%;
   }

   h4 {
   	font-size: 14px;
   	/*overflow:hidden;*/
   }
   
    }

   
/* Mobile View Most of them - Small devices only :: 812px and less*/
@media (max-width: 812px) {
	#sec1 {
    width: 100%;
   }
   #sec2 {
   	width: 100%;
   	overflow:hidden;
   }
   #sec3 {
   	width: 47.25%;
   	overflow:hidden;
   }
   #sec4 {
   	width: 47.25%;
   	overflow:hidden;
   }
   #sec5 {
   	width: 47.25%;
   }
   #sec6 {
   	width: 47.25%;
   }
   /*.image-me {
   	width: %;
   }*/

   #h1, #h2, #h3, #h4 {
   	width: 23%;
   }

   h4 {
   	font-size: 14px;
   	/*overflow:hidden;*/
   }

   /* Mobile View Galaxy S5 - Small devices only :: 640px and less*/
@media (max-width: 640px) {
	#sec1 {
    width: 100%;
   }
   #sec2 {
   	width: 100%;
   	overflow:hidden;
   }
   #sec3 {
   	width: 47.22%;
   	overflow:hidden;
   }
   #sec4 {
   	width: 47.22%;
   	overflow:hidden;
   }
   #sec5 {
   	width: 47.22%;
   }
   #sec6 {
   	width: 47.22%;
   }
   /*.image-me {
   	width: %;
   }*/

   #h1, #h2, #h3, #h4 {
   	width: 23%;
   }

   h4 {
   	font-size: 12px;
   	/*overflow:hidden;*/
   }
    
       /* Mobile View iPhone 5/SE - Small devices only :: 640px and less*/
@media (max-width: 640px) {
	#sec1 {
    width: 100%;
   }
   #sec2 {
   	width: 100%;
   	overflow:hidden;
   }
   #sec3 {
   	width: 46.70%;
   	overflow:hidden;
   }
   #sec4 {
   	width: 46.70%;
   	overflow:hidden;
   }
   #sec5 {
   	width: 46.70%;
   }
   #sec6 {
   	width: 46.70%;
   }
   /*.image-me {
   	width: %;
   }*/

   #h1, #h2, #h3, #h4 {
   	width: 23%;
   }

   h4 {
   	font-size: 12px;
   	/*overflow:hidden;*/
   }

